<%-include("userLayout/header.ejs")%>
<section class="ackview my-5">
            <div class="container">
                <div class="viewack p-5">
                    <div class="ackhead"><h4>Complaint ID :<%=searchComplaint.complaint_Id%></h4><div class="acksts">
                        <% if(searchComplaint.status === "Approved"){ %><span class="approved">Approved</span>
                        <% }else if(searchComplaint.status === "Pending"){ %><span class="pending">Pending</span>
                        <% }else if(searchComplaint.status === "Not Credible"){ %><span class="notcredible">Not Credible</span>
                        <% }else if(searchComplaint.status === "Closed"){ %><span class="closed">Closed</span>
                        <% }else if(searchComplaint.status === "Working On It"){ %><span class="working">Working On It</span>
                        <% }else if(searchComplaint.status === "Suspended"){ %><span class="suspended">Suspended</span><% } %>
                    </div></div>
                    <h5 class="my-3">Officer Details</h5>
                    <h6>Name :<%=searchComplaint.officer_Id.name%></h6>
                    <img src="/assets/<%=searchComplaint.officer_Id.profileImage%>" width="200px" height="200px" class="my-3" alt="">
                    <p>DESIGNATION :<%=searchComplaint.officer_Id.designation%> </p>
                    <p>CURRENT ADDRESS :<%=searchComplaint.officer_Id.street%> </p>
                    <p>EMAIL :<%=searchComplaint.officer_Id.email%></p>
                    <p>PHONE :<%=searchComplaint.officer_Id.mobile%> </p>
                    <p>CREDIBILITY STATUS : APPROVED <span><i class="fa-regular fa-circle-check"></i></span></p>
                    <p>ENCOUNTERED CASE LIST :<%=searchComplaint.officer_Id.encounteredCases%> </p>
                    <div class="complaintbody">
                        <h5 class="my-5">Complaint Status</h5>
                           <% if(complaintMessage.length > 0){ %>
                              <%  complaintMessage.forEach((complaintdetail)=>{%>
                                    <p><%=complaintdetail.date.toLocaleString().split(',')[0]%></p>

                                  <%  if(complaintdetail.owner == "Officer"){%>
                                        <div class="officeside my-3">
                                            <h6><% if(complaintdetail.status === "Accepted"){ %><span class="approved1">Accepted</span>
                                                <% }else if(complaintdetail.status === "Pending"){ %><span class="pending1">Pending</span>
                                                <% }else if(complaintdetail.status === "Not Credible"){ %><span class="notcredible1">Not Credible</span>
                                                <% }else if(complaintdetail.status === "Closed"){ %><span class="closed1">Closed</span>
                                                <% }else if(complaintdetail.status === "Working On It"){ %><span class="working1">Working On It</span>
                                                <% }else if(complaintdetail.status === "Suspended"){ %><span class="suspended1">Suspended</span><% } %></h6>
                                            <div class="officemsg my-3">
                                                <p class="p-4"><%=complaintdetail.message%></p>
                                                <span class="officetime"><%=complaintdetail.date.toLocaleString().split(',')[1]%> </span>
                                            </div>
                                        </div>
                                   <% } %>
                               <% if(complaintdetail.owner == "User"){%>
                                    <div class="userside my-3">
                                        <div class="usermsg my-3">
                                            <p class="p-4"><%=complaintdetail.message%></p>
                                            <span class="usertime"><%=complaintdetail.date.toLocaleString().split(',')[1]%> </span>
                                        </div>
                                    </div>
                                <%}%>
                                    
                                <%})%>
                               

                               
                          <% }%>
                           

                            <input type="hidden" value="<%=searchComplaint._id%>" id="complaintId">
                           
                            <div class="sendmessage">
                            <h6 class="my-3">Send your Concern :</h6>
                            <form>
                            <textarea name="complaintUpdate" id="message" cols="30" rows="5" class="form-control"></textarea>
                            <button type="button" class="btn my-4" id="sendbtn">Send</button>
                            </form>
                            </div>
                            <% if(searchComplaint.status !== "Closed" && searchComplaint.status !== "Suspended"){ %>
                            <button type="button" class="btn w-75 suspendbtn mt-5" id="suspend" >REQUEST TO SUSPEND CASE</button>
                            <% } %>
                    </div>
                </div>
            </div>
    </section>

<%-include('userLayout/footer.ejs')  %>